@use '@/colors' as *;

.layout {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.radioContainer {
    width: calc(100% - 40px);
    background-color: $main50;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border: none;
    border-radius: 28px;
    padding: 17px 24px;
    color: $main300;
    &.selectedState {
        background-color: $main300;
        color: $Gray000;
    }
}