@use '@/colors' as *;
@use '@/styles/mixin.scss' as *;

.Wrapper {
  padding: 0 20px;
  position: relative;
  height: 100dvh;
}

.Container {
  height: calc(100dvh - 48px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding-top: 32px;   

  img {
    width: 80px;
    height: 80px;
    object-fit: contain;
  }
}

.ContentWrapper {
  @include center;
  flex-direction: column;
  white-space: pre-wrap;

  h2 {
    margin-top: 16px;
    margin-bottom: 44px;
    color: $Gray500;
  }
}

.buttonLayout {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.highlight {
  color: $main300;
}

.ButtonWrapper {
  position: absolute;
  bottom: 16px;
  width:calc(100% - 36px);
}

//보너스 스테이지 관련 css
.BonusStageWrapper {
  padding: 0 20px;
}

.BonusStageContainer {
  overflow: scroll;
  height: calc(100dvh - 48px);
  &::-webkit-scrollbar {
    display: none;
  }
}