@use '@/colors' as *;
@use '@/styles/mixin.scss' as *;

.Container {
  width: 100%;
  height: 56px;
  border-radius: 28px;
  border: none;
  cursor: pointer;
  position: relative;
  @include center;
  flex-shrink: 0;
  background-color: $Bi-kakao;
  color: black;
  img {
    margin-right: 8px;
    height: 17px;
    width: 18px;
  }
}
