@use '@/styles/mixin.scss' as *;
@use '@/colors.scss' as *;

.skeletonWrapper {
  height: calc(100% - 48px);
  @include skeleton-gradient();
}

.Wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 31px;
  padding-bottom: 89px;
}

.container {
  margin-bottom: 68px;

  @include center();
  flex-direction: column;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 13px;
  width: calc(100% - 36px);
  margin: 0 auto;

  .input {
    width: 100%;
  }
}
