@use '@/styles/mixin.scss' as * ;
@use '@/colors.scss' as *;

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.container {
    @include size(100%, 100dvh);
    @include center();
    position: fixed; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p {
        color: $Gray300;
    }
  }
  
  .spinner {
    @include size(60px, 60px);
    border: 6px solid transparent;
    border-top: 6px solid $main300;
    border-radius: 50%;
    transform: rotate(-45deg);
    animation: spin 1.5s linear infinite;
    margin-bottom: 8px;
}

.spinner::before,
.spinner::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    background-color: $main300;
    @include size(6px, 6px);
}

.spinner::before {
    top: 0;
    left: 0;
    transform: translate(31.5%, 32%); 
}

.spinner::after {
    top: 0;
    right: 0;
    transform: translate(-31.5%, 32%); 
}