@use '@/colors' as *;
@use '@/styles/mixin.scss' as *;

.Wrapper {
  height: 100%;
  padding: 0 20px;
}

.TextWrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 14px;
  margin-top: 32px;
  margin-bottom: 210px;

  h2 {
    color: $Gray500;
  }

  p {
    color: $Gray300;
  }
}

.ButtonWrapper {
  @include center;
  flex-direction: column;
  gap: 14px;
}
