@use '@/colors' as *;
@use '@/styles/mixin.scss' as *;

.Wrapper {
  height: 100dvh;
  padding: 0 20px;
}

.ContentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 32px;
  padding-bottom: 178px;
  height: calc(100% - 48px);
}

.TextWrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 14px;

  h2 {
    color: $Gray500;
  }

  p {
    color: $Gray300;
  }
}

.ButtonWrapper {
  @include center;
  flex-direction: column;
  gap: 14px;
}
