@use '@/colors' as *;

.Wrapper {
    overflow: hidden;
    position: relative;
    img {
        margin-top: 53px;
        z-index: 0;
    }
}

.TextWrapper {
    text-align: center;
    color: $Gray400;
    margin-top: -30px;
    span{
        color: $Gray200;
        text-underline-offset: 2px;
    }
}

.ButtonContainer {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 32px 0;
}


