@use '@/_colors.scss' as *;
@use '@/styles/mixin.scss' as *;
.Wrapper {
    @include center();
    height: 100dvh;
    overflow-y: auto;
}

.step1Wrapper {
    height: 100dvh;
    display: flex;
    padding-top: 40px;
    flex-direction: column;
    &::-webkit-scrollbar {
        display: none;
    }
    overflow-y: auto;
}

.layout { 
    text-align: center;
    padding: 0 20px;
    flex-grow: 1;
    p{
        color: $Gray300;
    }  
}

.text {
    padding: 8px 0 32px 0;
}

.image {
    position: relative;
    height: 0;
    padding-bottom: 100%;
    text-align: center;
    margin-bottom: 72px;
    background-color: $Gray75;
    border-radius: 12px;
    img { 
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: contain;
        left: 0;
        border-radius: 12px;
    }
}

.buttonWrapper {
    margin-bottom: 120px;
}