@use '@/colors' as *;

.inputWrapper {
    width: 100%;
    height: 56px;
    display: flex;
    gap: 8px;
    background-color: $Gray50;
    border: none;
    border-radius: 8px;
    padding: 14px 16px;
}
.input {
    width: 100%;
    font-family: 'Pretendard';
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-decoration: none;
    background-color: transparent;
    border: none;
    outline: none;
}

.inputClose {
    width: 15px;
    fill: $Gray200;
}

.inputCloseWrapper {
    padding: 4.5px;
    justify-content: center;
    text-align: center;
    display: flex;
}

.fieldWrapper {
    width: calc(100% - 40px);
    height: 138px;
    padding: 24px 16px;
    justify-content: center;
    text-align: start;
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 16px;
    box-shadow: inset 0 0 1px 0 #AEECFF, 12px 12px 28px 0 rgba(0, 0, 0, 0.05);

    div{
        justify-content: space-between;
        gap: 8px;
    }
}