@use '@/styles/mixin.scss' as *;
@use '@/colors' as *;

%baseWrapper {
  height: 100dvh;
  width: 100%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}

.Wrapper {
  @extend %baseWrapper;
}

.CompletedWrapper {
  @extend %baseWrapper;
  justify-content: space-between;
  padding-top: 48px;
  padding-bottom: 56px;
}

.Container {
  flex: 1;
  @include center();
  flex-direction: column;
  text-align: center;
  color: $Gray500;

  img {
    margin-bottom: 16px;
  }
}

.exampleWrapper {
  background-color: $Gray000;
  padding: 24px 18px;
  margin-bottom: 32px;
  width: 100%;
  height: 378px;
  border-radius: 12px;
  box-shadow: inset 0 0 4px 0 #ecfaff;
}

.exampleText {
  background-color: $Bi-Bg-Blue;
  border-radius: 12px;
  height: 174px;
  @include center();
  flex-direction: column;

  text-align: center;

  .BlueTitleText {
    margin-bottom: 8px;
  }
  .TitleText {
    color: $Gray400;
  }
}

.exampleDescription {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 24px;
  text-align: left;
  .nicknameText {
    color: $Gray500;
  }

  p {
    color: $Gray300;
  }
}

.ButtonContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}