@mixin blur{
    filter: blur(5px);
    transition: 'filter 0.3s ease', 
}

@mixin center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin block-padding{
    width: calc(100% - 40px);
}

@mixin size($width, $height){
    width: $width;
    height: $height;
}