.layout {
    padding: 0 20px;
}

.AnswerList {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.nextButton {
    padding: 80px 0 16px 0;
}


.main {
    overflow-y: scroll;
    height: calc(100dvh - 48px);
    &::-webkit-scrollbar {
        display: none;
    }
}