@use '@/colors' as *;
@use '@/styles/mixin.scss' as *;

.Wrapper {
  padding: 0 20px; 
  position: relative;
  height: 100dvh;
}

.Container {
  height: calc(100dvh - 48px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding-top: 32px; 
}

.ContentWrapper {
  @include center;
  flex-direction: column;
  h2 {
    margin-top: 16px;
    margin-bottom: 44px;
    color: $Gray500;
  }
  
}
.ButtonWrapper {
  position: absolute;
  bottom: 16px;
  width:calc(100% - 36px);
}
.NameWrapper {
  color: $Gray300;

  .highlight {
    color: $main300;
  }
}
