@use '@/colors' as *;

@mixin typography(
    $letter-spacing, 
    $font-weight,
    $font-size,
    $text-decoration,
    $line-height
    ){
    letter-spacing: $letter-spacing;
    font-weight: $font-weight;
    font-size: $font-size;
    text-decoration: $text-decoration;
    line-height: $line-height;
}

.headlin1 {
    @include typography(0, 700, 48px, none, 56px);  
}
.title1 {
    @include typography(0, 700, 32px, none, 46px); 
}
.title2 {   
    @include typography(0, 700, 24px, none, 34px); 
}
.title3 {
    @include typography(0, 700, 20px, none, 32px);
}   
.button1 {
    @include typography(0, 600, 16px, none, 22px);
}
.button2 {
    @include typography(0, 500, 14px, none, 20px);
    &.underline {    
        border-bottom: 1px solid var(--underline-color, $Gray200);
    }
} 
.body1 {
    @include typography(0, 500, 18px, none, 28px);
}
.body2 {
    @include typography(0, 500, 16px, none, 28px);
    &.emphasis {    
        @include typography(0, 700, 16px, none, 28px);
    }
}
.body3 {
    @include typography(0, 500, 14px, none, 26px);
}
.caption1 {
    @include typography(0, 600, 12px, none, 22px);
}