@use '@/colors' as *;

.appBar {
    margin-bottom: 24px;
}

.layout {
    padding: 0 20px;
    height: 100dvh;
    position: relative; 
    display: flex;
    flex-direction: column;
}

.textWrapper {
    margin-top: 36px;
    color: $Gray300;
    text-align: center;
    flex-grow: 1;
}

.nextButton {   
    max-width: 390px; 
    margin-bottom: 89px;
}