@use '@/colors' as *;

.blueTitleText {
    h3 {
        display: inline-block;
        background-color: $main50;
        border-radius: 13px;
        color: $main300;
        padding: 2px 12px;
    }
}

.sm {
    h3 {
        padding: 2px 1px;
    }
}

.md {
    h3 {
        padding: 2px 12px;
    }
}

.lg {
    h3 {
        padding: 2px 12px;
    }
}