@use '@/colors' as *;
@use '@/styles/mixin.scss' as *;

.Wrapper {
  height: 100dvh;
}

.PaddingContainer {
  padding: 0 20px;
  color: $Gray500;
}

.Container {
  height: calc(100% - 48px);
  padding-top: 24px;
  padding-bottom: 83px;
  overflow: scroll;
  &::-webkit-scrollbar {
      display: none;
      
  }
}

.ItemContainer {
  @include center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 56px;

  .contentDescription {
    color: $Gray300;
    margin-top: 24px;
    white-space: pre-wrap;
  }
}

.Title {
  color: $Gray500;
  margin-bottom: 40px;
}

.AnimateCard {
  margin-bottom: 24px;
}

.ButtonContainer {
  @include center;
  flex-direction: column;
  gap: 12px;
  padding: 0 20px;
}
