//Gray
$Gray000: #FFFFFF;
$Gray50: #F2F2F2;
$Gray75: #DEDEDE;
$Gray100: #C5C5C5;
$Gray200: #959494;
$Gray300: #7B7B7B;
$Gray400: #545454;
$Gray500: #272727;

//Main
$main50: #DDF6FF;
$main75: #97D5FF;
$main100: #6CC4FF;
$main200: #2DAAFF;
$main300: #0299FF;
$main400: #016BB3;
$main500: #015D9C;

//Sub
$Green600: #08AE01;
$Red50: #FDD7D4;
$Red500: #FF3C2A;
$Bi-kakao: #FEE500;
$Bi-Bg-Yellow: #FFFDEA;
$Bi-Bg-Blue: #EDFBFF;



