* {
  box-sizing: border-box;
  //터치 영역 표시 제거
  -webkit-tap-highlight-color: transparent;
  //텍스트 선택 방지
  user-select: none;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
label,
input {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Pretendard', '-apple-system', 'BlinkMacSystemFont', 'system-ui', 'Roboto', 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
}

input,
::placeholder {
  font-family: 'Pretendard', '-apple-system', 'BlinkMacSystemFont', 'system-ui', 'Roboto', 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}
