@use '@/colors' as *;
@use '@/styles/mixin.scss' as *;

.answerContainer {
  width: 100%;
  display: flex;
  gap: 8px;
  padding: 16px;
  background-color: $main50;
  align-items: center;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.2s ease;

  &.openState {
    background-color: $Gray50;
  }

  img {
    @include size(60px, 60px);
    border-radius: 12px;
  }
}

.description {
  display: flex;
  flex-direction: column;
  gap: 4px;

  span {
    color: $Gray500;
  }

  .message {
    color: $Gray300;
  }
}
