@use '@/colors.scss' as *;
@use '@/styles/mixin.scss' as *;

.appbar {
    padding: 12px 20px;
}
.Wrapper {
    display: flex;
    padding: 32px 20px 16px 20px;
    flex-direction: column;
    overflow: scroll;
    height: calc(100dvh - 48px);
    &::-webkit-scrollbar {
        display: none;
        
    }
    gap: 24px;

    p {
        color: $Gray300;
    }
    .title {
        color: $main300;
    }
    
}
.Wrapper::-webkit-scrollbar {
    display: none;
  }

.text {
    display: flex;
    flex-direction: column;
    gap: 4px;
    h2 {
        color: $Gray500;
    }
}

.card {
    background-color: white;
    box-shadow: inset 0 0 4px 0 #ECFAFF;
    border-radius: 24px; 
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}